.Center {
	display: flex;
	justify-content: center;
}

button.Button {
	background-color: transparent;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	font: inherit;
	padding: .3rem 1rem;
	margin: .3rem;
	border-radius: 0.5em;
	border: solid var(--main-color);
	outline-style: none;
	transition: border-color .2s ease-out;
	transition: color .2s ease-out;
}

button.Button:hover:not([disabled]){
	opacity: .6;
}

.Success {
	color: var(--primary-dark-color);
}
.Danger {
	color: var(--primary-color);
}

.Button:disabled {
	color: var(--main-light-color);
	border-color: var(--main-light-color);
	cursor: not-allowed;
}


