.MoviesMainContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.FindContainer {
	width: 100%;
	margin: 0.3rem;
}

.MoviesContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 0.5rem;
}

.FavoriteMovies {
	flex: 1;
	max-width: 50%;
	border: 1px solid var(--main-color);
	margin: .5rem;
}

.FoundMovies {
	flex: 1;
}

@media (min-width: 769px) {
	.FindContainer {
		width: 90%;
		border-radius: 0.5rem;
	}

	.MoviesContainer {
		flex-direction: row;
		margin: 2rem;
	}
}
