.FormContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid green;
}

.AuthForm {
	border: solid lightgrey 1px;
	width: 400px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.AuthButton {
	margin: 10px;
	background-color: #4c54bd;
	color: white;
}

.AuthButton:hover {
	background-color: #797fcd;
	cursor: pointer;
}

.AuthLabel{
	font-weight: 700;
	font-size: small;
	align-self: flex-start;
	margin-top: 0.5rem;
}

.AuthInput {
	width: 100%;
	border-bottom: 1px solid black;
	max-height: 2rem;
}
.AuthError {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0.5rem 0;
}

a {
	color: #4c54bd;
}
a:hover {
	color: #797fcd;
}

h3{
  margin: none;
  padding: none;
}
/* desktop */
/* @media (min-width: 769px) {
	input {
		width: 80vw;
	}
} */
